<div ng-if="messages.error" role="alert" class="alert alert-danger">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <div ng-repeat="error in messages.error">{{error.msg}}</div>
</div>
<div ng-if="messages.success" role="alert" class="alert alert-success">
    <a href="#" class="close" data-dismiss="alert" aria-label="close" title="close">×</a>
    <div ng-repeat="success in messages.success">{{success.msg}}</div>
</div>
<div class="container app">
    <div class="row app-one">
        <div class="col-sm-12 side">
            <div class="side-one">
                <!-- Heading -->
                <div class="row heading">
                    <div class="col-sm-3 col-xs-3 heading-avatar">
                        <h4>Notes</h4>
                    </div>
                    <div class="col-sm-1 col-xs-1  heading-dot  pull-right">
                        <a data-toggle="modal" data-target="#newClient" href="#">
                            <i class="fa fa-plus fa-2x  pull-right" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <!-- Heading End -->

                <!-- SearchBox -->
                <div class="row searchBox">
                    <div class="col-sm-12 searchBox-inner">
                        <div class="form-group has-feedback">
                            <input ng-model="searchClient" type="text" class="form-control" name="searchText"
                                   placeholder="Search">
                            <span class="fa fa-search form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <!-- Search Box End -->
                <!-- sideBar -->
                <div class="row sideBar">
                    <div ng-click="listNotes(client.id)" ng-repeat="client in clients | filter:searchClient"
                         class="row sideBar-body">
                        <div class="col-sm-12 col-xs-12 sideBar-main">
                            <div class="row">
                                <div class="col-sm-8 col-xs-8 sideBar-name">
                                    <span class="name-meta">{{client.name}}</span>
                                </div>
                                <div class="col-sm-4 col-xs-4 pull-right sideBar-time">
                                    <a class="pull-right margin-left-10"><i class="fa fa-trash"></i></a>
                                    <a class="pull-right margin-left-10"><i class="fa fa-pencil"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Sidebar End -->
            </div>
        </div>
        <!-- New Message Sidebar End -->
    </div>
    <!-- App One End -->
</div>

<!-- App End -->

<div id="newClient" class="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Add Client</h4>
            </div>
            <div class="modal-body">

                <input class="form-control" ng-model="newClient" type="text" placeholder="Client Name">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button ng-click="saveClient()" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>